/*============
    COLORS
=============*/

// PRIMARY
// $primary1: 

// SECONDARY
// $secondary1: 

// BACKGROUND
// $background1: 
// $background2: transparent; // Transparent
// $background3: 

/*================
    BREAKPOINTS
=================*/

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;