@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.form {
    @include desktop {
        max-width: 60rem;
        margin: auto;
    }

    &__button {
        padding: 1rem;
        background-color: black;
        border-radius: 0.25rem;
        border: none;
        cursor: pointer;
        width: 100%;
        text-transform: uppercase;
        box-shadow: -4px 4px 0 rgb(19, 19, 19);
        font-size: 1.25rem;
        &:active {
            transform: translate(-4px, 4px);
            box-shadow: none;
        }

        @include desktop {
            width: 25%;
            float: right;
        }
    }

    &__container {
        max-width: 25rem;
        margin: auto;

        @include tablet {
            max-width: 35rem;
        }

        @include desktop {
            max-width: none;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem 0;
    }

    &__textarea {
        min-height: 16rem;
        padding: 0.75rem;
        background-color: rgb(50, 50, 50);
        border-radius: 0.25rem;
        resize: vertical;
        @include tablet {
            font-size: 1.25rem;
            min-height: 12rem;
        }
    }

    &__title {
        padding-bottom: 0;
        @include desktop {
            max-width: none;
        }
    }
}

input {
    padding: 0.625rem;
    background-color: rgb(50, 50, 50);
    border-radius: 0.25rem;

    @include tablet {
        font-size: 1.25rem;
    }
}