@use './styles/partials/mixins' as *;
@use './styles/partials/variables' as *;
@use './styles/partials/typography' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, h2, p {
    padding-bottom: 1rem;

    @include tablet {
        padding-bottom: 2rem;
    }
}

h1, h2 {
    padding-top: 1rem;
}

html, nav {
    background-color: $background1;
}

#root {
    padding: 1rem;
    @include desktop{
        padding: 0 3rem;
    }
}

.app {
    @include desktop {
        padding: 0 2rem;
    }
}

.nav, .home, .project, .contact, .form {
    max-width: 25rem;
    margin: auto;

    @include tablet {
        max-width: 35rem;
    }
    @include desktop {
        max-width: none;
    }
}